<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-title>{{translate?.profileText}}</ion-title>
        </ion-col>
        <ion-col col-2 *ngIf="hideFeature" (click)="navigateSettingPage()" class="setting">
          <ion-icon name="settings"></ion-icon>
        </ion-col>
        <ion-col col-2 *ngIf="hideFeature" class="users">
          <ion-icon name="contact"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="grid">
    <ion-row>
      <ion-col col-12 class="topPadd">
        <div class="imgContainers">
          <!--<img [src]="profileDetails?.profilePic" height="120px" width="120px" class="radiusDiv" alt="user_image">-->
          <div id="profile" class="profilePic" [ngStyle]="{ 'background-image': 'url('+profileImage+')' }"></div>
          <!--[style]="{'background-image':'url('+profileDetails?.profilePic+')'}"-->
        </div>
        <p class="userName">{{profileDetails?.name}}</p>
        <p class="userTexts">{{profileDetails?.status}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="rowPadd">
      <ion-col col-6 align="right"><button ion-button outline class="ionBtn">{{translate?.notification}}</button></ion-col>
      <ion-col col-6><button ion-button outline class="ionBtn" (click)="navigateEditProfilePage()">{{translate?.editProfile}}</button></ion-col>
    </ion-row>
    <ion-row class="setbg">
      <ion-col col-12 class="borderColumn">
        <ul class="userdetails">
          <li (click)="myPostpage()">
            <p class="rempadd">{{translate?.posting}}</p>
            <p class="margin: 0">{{profileDetailsNodata?.post}}</p>
          </li>
          <div class="verticalLine"></div>
          <li (click)="myFollowersPage()">
            <p class="rempadd">{{translate?.followers}}</p>
            <p class="margin: 0">{{profileDetailsNodata?.followers}}</p>
          </li>
          <div class="verticalLine"></div>
          <li (click)="myFollowingPage()" >
            <p class="rempadd">{{translate?.following}}</p>
            <p class="margin: 0">{{profileDetailsNodata?.following}}</p>
          </li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row class="rowFlex changePasswordCard" (click)="navigateTofeedbackPage()">
      <ion-col col-2 class="iconAlignment"><img src="./assets/icon/feed.png" alt="mobile" height="30px" width="30px"></ion-col>
      <ion-col col-8>
        <ion-label class="changeP">{{translate2?.name}}</ion-label>
      </ion-col>
      <ion-col col-2 class="pencil">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </ion-col>
    </ion-row>

    <ion-row class="rowFlex changePasswordCard">   
      <ion-col col-2 class="iconAlignment"><img src="./assets/icon/langChange.png" alt="mobile" height="30px" width="30px"></ion-col>
      <ion-col col-8>
           <ion-label class="changeP">{{translate2.toggle}}</ion-label>
      </ion-col>
      <ion-col col-2>
           <ion-toggle checked="false" (ionChange)="switchTo(lang)" ></ion-toggle>
      </ion-col>
          </ion-row>

    <ion-row class="rowFlex">
      <ion-col col-2 class="iconAlignment"><img src="./assets/icon/user_name.png" alt="email" height="30px" width="30px"></ion-col>
      <ion-col col-10 class="setBorderBottom">{{profileDetails?.name}}</ion-col>
    </ion-row>
    <!--<ion-row class="rowFlex">
      <ion-col col-2 class="iconAlignment"><img src="./assets/icon/email.png" alt="email" height="35px" width="35px"></ion-col>
      <ion-col col-10 class="setBorderBottom">location here</ion-col>
    </ion-row>-->
    <ion-row class="rowFlex">
      <ion-col col-2 class="iconAlignment"><img src="./assets/icon/mobile.png" alt="mobile" height="30px" width="30px"></ion-col>
      <ion-col col-10 class="setBorderBottom">{{profileDetails?.mobile}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="btnDivAlign">
        <button class="setBtnWidth" (click)="logOut()" ion-button color="danger">{{translate?.logout}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>