page-about {
    .grid {
        padding: 0;
    }
    .setting {
        text-align: right;
        font-size: 22px;
    }
    .users {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }
    .radiusDiv {
        border-radius: 60px;
    }
    .imgContainers {
        display: flex;
        margin: auto;
        justify-content: center;
    }
    .topPadd {
        padding-top: 15%;
    }
    .userName {
        text-align: center;
        font-size: 24px;
        color: #333;
        margin-bottom: 0px;
    }
    .userTexts {
        text-align: center;
        padding: 0% 7% 0% 8%;
        font-size: 18px;
        color: #898989;
        margin-top: 10px;
    }
    .ionBtn {
        width: 90%;
        height: 50px;
        border-radius: 30px;
        border-color: rgba(128, 128, 128, 0.48);
        color: #898989;
    }
    .rowPadd {
        padding: 0% 4% 0% 4%;
    }
    .setbg {
        margin-top: 4%;
        background: #f1f1f1;
    }
    .userdetails {
        list-style-type: none;
        margin: 0;
        height: 85px;
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
    .userdetails li {
        display: inline-block;
        margin: 5% 8% 5% 8%;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: #898989;
    }
    .rempadd {
        margin: 0 0 6px 0;
    }
    .setBorderBottom {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #d5d5d5;
        text-transform: uppercase;
        color: #666;
    }
    .pencil {
        display: flex;
        justify-content: center;
        font-size: 24px;
    }
    .changeP {
        font-size: 17px;
    }
    .iconAlignment {
        display: flex;
        justify-content: center;
    }
    .scroll-content {
        background-color: hsla(60, 1%, 50%, 0.05);
    }
    .changePasswordCard {
        background: white;
        padding: 8px 0px 7px 0px !important;
        border-bottom: 1px solid #d5d5d5;
        margin-bottom: 10px;
        margin-top: 10px;
        display: flex; 
        align-items: center !important;
        color: #666;
        box-shadow: 0px 0px 6px 0px rgba(128, 128, 128, 0.2);
    }
    .rowFlex {
        display: flex;
        align-items: stretch;
        padding-top: 4%;
        padding-bottom: 4%;
        background: white;
    }
    .iconAlignment {
        display: flex;
        justify-content: center;
    }
    .setBtnWidth {
        width: 100%;
        height: 55px;
        background: #DB2687;
        border-color: #DB2687;
    }
    .btnDivAlign {
        margin-top: 5%;
        padding: 0% 4% 0% 3%;
    }
    .profilePic {
        width: 150px;
        height: 150px;
        background-position: center center;
        background-size: cover;
        display: block;
        border-radius: 100px;
    }
    .borderColumn {
        padding: 0;
        border: 1px solid rgba(128, 128, 128, 0.1);
    }
    .verticalLine {
        border-left: 1px solid #d9d9d9;

}
}