page-userSearch {
    .downArrow {
        font-size: 23px;
        display: flex;
        justify-content: center;
        color: #3c3c3e;
    }
    .textFileds {
        position: relative;
        padding-left: 10%;
        border-bottom: 1px solid rgba(128, 128, 128, 0.35);
    }
    .searchIcon {
        position: absolute;
        left: 5%;
        top: 26%;
        font-size: 25px;
        color: #b20090;
    }
    .flexApp {
        display: flex;
        align-items: center;
        position: relative;
    }
    .flexDiv {
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(128, 128, 128, 0.27);
    }
    .no-margin {
        margin: 0;
    }
    .setFollowingBackground {
        background: #71bd27;
    }
    .imgCircle {
        height: 60px;
        width: 60px;
        background-position: center center;
        background-size: cover;
        display: block;
        border-radius: 30px;
    }
    .flexDv{
        display: flex;
        justify-content: center;
    }
    .setLineHeight{
        line-height: 1.5;
    }
     .unfollowBtn {
        background-color: #07AD55;
        border-color: #07AD55;
        border-radius: 25px;
        width: 90%;
        box-shadow: 1px 1px 4px 1px #10e675;
    }
    .followBtn {
        background-color: #DB2687;
        border-color: #DB2687;
        border-radius: 25px;
        width: 90%;
        box-shadow: 1px 1px 4px 1px #DB2687;
    }
}