<ion-header>
    <ion-navbar class="removePadd">
        <ion-grid>
            <ion-row class="headeritems">
                <ion-col col-2 class="removePadd downArrow" (click)="popNav()">
                    <ion-icon name="close"></ion-icon>
                </ion-col>
                <ion-col col-8 class="removePadd">
                    <ion-title>{{translate?.name}}</ion-title>
                </ion-col>
                <ion-col col-2></ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <ion-input class="textFileds" [formControl]='search_keyword' [placeholder]="translate?.later" type="text" value=""></ion-input>
                <ion-icon class="searchIcon" name="search"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row *ngIf="search_user">
            <ion-col col-12 *ngFor="let userdata of userData">
                <div class="flexDiv">
                    <ion-col col-2>
                        <div class="imgCircle" [ngStyle]="{ 'background-image': 'url('+userdata?.profilePic+')' }"></div>
                        <!--<img [src]="userdata?.profilePic" class="userImg" height="40px" width="40px" alt="">-->
                    </ion-col>
                    <ion-col col-5 class="setLineHeight">
                        <p class="no-margin" style="text-transform: uppercase;">{{userdata?.name}}</p>
                        <p class="no-margin">{{userdata?.status}}</p>
                    </ion-col>
                    <ion-col col-5 class="moreIcon flexDv">
                        <button ion-button class="followBtn" *ngIf="userdata?.isFollow != true" (click)="follow(userdata,'follow')">{{followText}}</button>
                        <button ion-button class="unfollowBtn" (click)="follow(userdata,'unfollow')" *ngIf="userdata?.isFollow == true">{{unfollowText}}</button>
                    </ion-col>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>