<ion-tabs class="setTabHeight" #followTabs tabsPlacement="top">
  <ion-tab [root]="tab1Root" [tabTitle]="followTabTextFollow"></ion-tab>
  <ion-tab [root]="tab2Root" [tabTitle]="followTabTextYou"></ion-tab>
</ion-tabs>
