page-tabsOne {
    .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
        color: #b20090;
        font-size: 32px;
    }
    .tabs-md .tabbar {
        height: 73px;
        background: #f8f8f8;
    }
    .fab-md-danger {
        width: 75px;
        height: 45px;
        border-radius: 30px;
        color: #fff;
        background-color: #07AE56;
    }
    ion-fab[bottom] {
        bottom: 10px;
        left: 47%;
    }
    .setMargin {
        margin-right: 50px !important;
    }
    .tabs-md .tab-button.icon-only {
        padding: 0px;
    }
    .ion-md-search:before {
        margin-right: 20px;
        content: "\f375";
    }
    .ion-md-bookmark:before {
        content: "\f29f";
    }
    .tabs-md .tab-button[aria-selected=true]{
        color: #333;
    }
}