<ion-tabs selectedIndex={{index}} >
  <ion-tab [root]="tab1Root" tabIcon="home" tabTitle="Home"></ion-tab>
  <ion-tab [root]="tab2Root" class="setMargin" tabTitle="Search" tabIcon="search"></ion-tab>
  <ion-tab></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="bookmark" tabTitle="Save"></ion-tab>
  <ion-tab [root]="tab5Root" tabIcon="person" tabTitle="Profile"></ion-tab>
</ion-tabs>
<ion-fab bottom center  (click)="navigateCreatePostPage()">
  <button ion-fab color="danger"><ion-icon name="add"></ion-icon></button>
</ion-fab>