  page-editProfile {
      .downArrow {
          font-size: 23px;
          display: flex;
          justify-content: center;
          color: #3c3c3e;
          text-align: center;
      }
      .checkMark {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: 18px;
      }
      .rowFlex {
          display: flex;
          align-items: stretch;
          padding-top: 5%;
          color: #898989;
      }
      .iconAlignment {
          display: flex;
          justify-content: center;
      }
      .setBorderBottom {
          display: flex;
          align-items: center;
          border-bottom: 1px solid rgba(137, 137, 137, 0.15);
      }
      .ManualsetBorderBottom {
          display: flex;
          align-items: center;
      }
      .pencil {
          display: flex;
          justify-content: center;
          font-size: 16px;
      }
      .flexRow {
          display: flex;
          align-items: stretch;
      }
      .setMrgn {
          margin-top: 20px;
      }
      .toggle {
          padding: 0% 3% 0% 4%;
          color: #898989;
          font-size: 22px;
      }
      .nextIcon {
          display: flex;
          justify-content: center;
          font-size: 20px;
      }
      .rowPassword {
          margin-top: 20px;
          border-top: 1px solid rgba(137, 137, 137, 0.15);
          border-bottom: 1px solid rgba(137, 137, 137, 0.15);
      }
      .grid {
          padding: 0px;
      }
      .imgContainers {
          width: 120px;
          height: 120px;
          margin: auto;
      }
      .radiusDiv {
          border-radius: 60px;
      }
      .userImg {
          padding: 0;
          width: 250px;
          height: 250px;
          background-position: center center;
          background-size: cover;
          display: block;
          position: relative;
      }
      .picChange {
          position: absolute;
          top: 75%;
          right: 2%;
          height: 50px;
          width: 150px;
          border: 1px solid black;
          font-size: 17px;
          color: #c9c3c3;
          background-color: rgba(8, 1, 1, 0.65);
          padding: 13px;
      }
      .picChange:hover {
          cursor: pointer;
      }
      .browse {
          padding: 8px 25px 9px 7px;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
      }
      #photoLabel {
          color: white;
          display: flex;
          align-items: center;
          cursor: pointer;
          font-family: 'Open Sans Regular';
          font-size: 23px;
          justify-content: center;
          margin-top: 3px;
          width: 155px;
          height: 48px;
      }
      .iconHeight {
          font-size: 28px;
      }
      .setLangSize {
          font-size: 20px;
      }
      .setFontColor {
          color: grey;
      }
      .fa-angle-right {
          font-size: 25px;
      }
      .changeP {
          font-size: 17px;
      }
      .changePasswordCard {
          padding: 7px 0px 1px 0px;
          border-bottom: 1px solid #d5d5d5;
          margin-bottom: 10px;
          box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.2);
      }
  }