<ion-header>
    <ion-navbar class="removePadd">
        <ion-grid>
            <ion-row class="headeritems">
                <ion-col col-10 class="removePadd downArrow">
                    <ion-title>{{translate?.profileText}}</ion-title>
                </ion-col>
                <ion-col col-2 class="checkMark" (click)="updateUser()">
                    <ion-icon name="checkmark"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid class="grid">
        <form [formGroup]="editForm">
            <ion-row>
                <ion-col col-12 class="userImg" id="myImage">
                    <img [src]="imageUrl" width="100%" height="100%" alt="userImages">
                    <div class="picChange browse">
                        <label id="photoLabel" for="fileId">{{translate?.change}}</label>
                        <input type="file" id="fileId" (change)="fileChangeEvent_first($event)" style="display:none" />
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="rowFlex">
                <ion-col col-2 class="iconAlignment"><img src="./assets/icon/user_name.png" alt="email" height="30px" width="30px"></ion-col>
                <ion-col col-8 class="setBorderBottom">
                    <ion-input type="text" formControlName="name" [(ngModel)]="username"></ion-input>
                </ion-col>
                <ion-col col-2 class="setBorderBottom pencil" (click)="changeInputType()">
                    <ion-icon ios="ios-create" md="md-create"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row class="rowFlex">
                <ion-col col-2 class="iconAlignment"><img src="./assets/icon/mobile.png" alt="email" height="30px" width="30px"></ion-col>
                <ion-col col-8 class="setBorderBottom">
                    <ion-input type="text" formControlName="mobile" [(ngModel)]="mobile"></ion-input>
                    <p *ngIf="editForm.controls.mobile.hasError('pattern') && editForm.controls.mobile.dirty">Only number</p>
                </ion-col>
                <ion-col col-2 class="setBorderBottom pencil" (click)="changeInputType()">
                    <ion-icon ios="ios-create" md="md-create"></ion-icon>
                </ion-col>
            </ion-row>
            <!--<ion-row class="rowFlex">
                <ion-col col-2 class="iconAlignment"><img src="./assets/icon/mobile.png" alt="email" height="35px" width="35px"></ion-col>
                <ion-col col-8 class="setBorderBottom">
                    <ion-input type="text" formControlName="userStatus" [(ngModel)]="userStatus"></ion-input>
                </ion-col>
                <ion-col col-2 class="setBorderBottom pencil" (click)="changeInputType()">
                    <ion-icon ios="ios-create" md="md-create"></ion-icon>
                </ion-col>
            </ion-row>-->
            <!-- <ion-row class="rowFlex">
                <ion-col col-2 class="iconAlignment"><img src="./assets/icon/email.png" alt="mobile" height="30px" width="30px"></ion-col>
                <ion-col col-10 class="setBorderBottom">ravindra@gmail.com</ion-col>
            </ion-row> -->
            <!--<ion-row class="rowFlex">
                <ion-col col-2 class="iconAlignment"><img src="./assets/icon/email.png" alt="mobile" height="35px" width="35px"></ion-col>
                <ion-col col-8 class="setBorderBottom">
                    <ion-input type="text" formControlName="location" [(ngModel)]="location"></ion-input>
                </ion-col>
                <ion-col col-2 class="setBorderBottom pencil" (click)="changeInputType()">
                    <ion-icon ios="ios-create" md="md-create"></ion-icon>
                </ion-col>
            </ion-row>-->
            <ion-row class="rowFlex">
                <ion-col col-2 class="iconAlignment iconHeight"><i class="fa fa-language" aria-hidden="true"></i></ion-col>
                <ion-col col-10 class="ManualsetBorderBottom setLangSize">{{translate?.lang}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-label class="setFontColor">Hindi (हिंदी पोस्ट देखने के लिए)</ion-label>
                        <ion-checkbox (ionChange)="getLang('hi')" [(ngModel)]="hindiCheck" [ngModelOptions]="{standalone: true}" value="hi"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-label class="setFontColor">English (To see English post)</ion-label>
                        <ion-checkbox (ionChange)="getLang('en')" [(ngModel)]="englishCheck" [ngModelOptions]="{standalone: true}" value="en"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="flexRow setMrgn">
                <ion-col col-12 align="center" class="toggle">
                    <ion-item>
                        <ion-label>{{eighteenText}}</ion-label>
                        <ion-toggle formControlName="eighteenPlus" [(ngModel)]="eighteenPlus" checked="false"></ion-toggle>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="rowFlex changePasswordCard" (click)="navigateToChangePasswordPage()">
                <ion-col col-2 class="iconAlignment"><img src="./assets/icon/password.png" alt="mobile" height="30px" width="30px"></ion-col>
                <ion-col col-8>
                    <ion-label class="changeP">{{translate?.changePass}}</ion-label>
                </ion-col>
                <ion-col col-2 class="pencil">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>