page-forgotPass {
    .topText {
        font-size: 16px;
        color: #898989;
    }
    .flexRow {
        display: flex;
        align-items: stretch;
    }
    .flexCol {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .forgotPswrd {
        text-align: right;
        font-size: 14px;
        color: #898989;
    }
    .arrowIcon {
        margin-left: 5px;
    }
    .setBtnWidth {
        width: 85%;
        height: 50px;
        background: #DB2687;
        border-color: #DB2687;
        margin: 0px;
        border-radius: 50px;
    }
    .setMrgn {
        margin-top: 35px;
    }
    .loginFootertxt {
        font-size: 14px;
        color: #898989;
        text-align: center;
    }
    a:link {
        color: #DB2687;
    }
}