<ion-header>
    <ion-navbar class="removePadd">
        <ion-grid>
            <ion-row class="headeritems">
                <ion-col col-2 class="removePadd">
                    <button ion-button menuToggle>
                       <ion-icon name="menu"></ion-icon>
                   </button>
                </ion-col>
                <ion-col col-2 class="removePadd"></ion-col>
                <ion-col col-8>
                    <ion-title>FORGOT PASSWORD</ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <p class="topText">Enter your email address and we'll send you link to reset your password.
                </p>
            </ion-col>
        </ion-row>
        <ion-row class="flexRow">
            <ion-col col-2 class="flexCol">
                <img src="./assets/icon/email.png" alt="email" height="35px" width="35px">
            </ion-col>
            <ion-col col-10>
                <ion-item>
                    <ion-label floating>Email/Phone no</ion-label>
                    <ion-input type="text"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="flexRow setMrgn">
            <ion-col col-12 align="center">
                <button (click)="navigateHomePage()" class="setBtnWidth" ion-button color="danger">SEND CODE</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
