<ion-content class="setContentBg">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngFor="let trends of trending">
    <ion-grid class="myGrid" *ngIf="trends?.isReort != true">
      <div>
        <ion-row class="rowFlex">
          <ion-col col-2><img [src]="trends?.profilePic" alt="img" height="45px" width="45px" class="pofilePic"></ion-col>
          <ion-col col-6 class="setFontWeight">{{trends?.name}}</ion-col>
          <ion-col col-3 *ngIf="trends?.isFollow != true" class="followTxt makeCenter" (click)="follow(trends)">{{followtext}}</ion-col>
          <ion-col col-3 *ngIf="trends?.isFollow == true" class="followTxt makeCenter" (click)="follow(trends)">{{followingText}}</ion-col>
          <ion-col col-1 class="makeCenter" (click)="opneMore(trends)">
            <ion-icon class="moreIcons" ios="ios-more" md="md-more"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="trends?.status != null">
          <ion-col col-12>
            <p class="msgText" innerHTML="{{trends?.status}}"></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 class="grid" *ngIf="trends?.resource != null">
            <img [src]="trends?.resource" height="100%" width="100%" class="cardImg" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <p class="views">{{trends?.views.length}} {{viewTxt}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="rowFlex2">
          <ion-col col-7 class="removePadd">
            <ul class="actionUl">
              <li (click)="onLike(trends)">
                <img src="./assets/icon/like.png" *ngIf="trends?.liker == false" height="25px" width="25px" alt="">
                <img src="./assets/icon/like2.png" *ngIf="trends?.liker == true" height="25px" width="25px" alt="">
                <p class="itemText">{{eventItemText?.like}}</p>
              </li>
              <li (click)="presentModal(trends)">
                <img src="./assets/icon/comment.png" height="25px" width="25px" alt="">
                <p class="itemText">{{eventItemText?.comment}}</p>
              </li>
              <li (click)="shareViaWhatsApp(trends)">
                <img src="./assets/icon/whatsapp.png" height="25px" width="25px" alt="">
                <p class="itemText">{{eventItemText?.share}}</p> 
              </li>
            </ul>
          </ion-col>
          <ion-col col-3></ion-col>
          <ion-col col-2 class="bookmarkBlackIcon" (click)="savePost(trends)">
            <img src="./assets/icon/bookmarkx.png" *ngIf="trends?.isSave == false" height="25px" width="25px" alt="">
            <img src="./assets/icon/bookmark.png" *ngIf="trends?.isSave == true" height="22px" width="25px" alt="">
            <p class="itemText saveIcons">{{eventItemText?.save}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <p class="like">{{trends?.like.length}} {{likeTxt}}</p>
            <!--<p class="postMsg">Power-of-positivity Sorry I wasn't in the mood to be a person today, sorry</p>-->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 class="textUl">
            <ul>
              <li>{{viewAllcmt}}({{trends?.comments.length}}){{tippdi}}</li>
              <li>|</li>
              <li>{{trends?.share.length}}{{shareTx}}</li>
            </ul>
          </ion-col>
        </ion-row>
        <ion-row class="rowFlex3 setBottomPad">
          <ion-col col-12>
            {{trends?.ago}}
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>