<ion-header>
    <ion-navbar>
        <ion-title>{{translate?.name}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid>
        <form [formGroup]="feedbackFrom">
            <ion-row>
                <ion-col col-12>
                    <p class="pText">{{translate?.later}}</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 class="removepadd">
                    <ion-textarea formControlName="message"></ion-textarea>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <button class="setBtnWidth" (click)="sendFeedback()" ion-button color="danger">{{translate?.submit}}</button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>