feedback-page {
    .toolbar-background-md {
        border-color: #b2b2b2;
        background: white;
        border-bottom: 2px solid #e5e5e5;
    }
    .setBtnWidth {
        width: 97%;
        height: 50px;
        background: #DB2687;
        border-color: #DB2687;
        border-radius: 55px;
        box-shadow: 0px 0px 8px 1px rgb(253, 70, 9);
    }
   
    .grid { 
        padding: 5%;
    }
    .removepadd {
        padding: 0;
    }
    .pText {
        margin: 0;
        padding-left: 4px;
        font-size: 16px;
        color: #666;
    }
}