page-myPost{
        .setting {
        text-align: right;
        font-size: 22px;
    }
    .setContentBg {
        background: #f1f1f1;
    }
    .notification {
        text-align: center;
        font-size: 22px;
    }
    .badge-md {
        position: absolute;
        top: -10%;
        right: 5%;
        background: #b20090;
    }
    .pofilePic {
        border-radius: 30px;
    }
    .setFontWeight {
        font-weight: 500;
    }
    .moreIcons {
        font-size: 22px;
        color: #666;
    }
    .moreItemsClass { 
        display: flex;
        justify-content: center;
    }
    .removePadd {
        padding: 0;
    }
    .rowFlex {
        display: flex;
        align-items: center;
        font-size: 17px;
        color: #333;
        height: 73px;
    }
    .followTxt {
        color: #DB2687;
    }
    .toolbar-background-md {
        border-color: #b2b2b2;
        background: white;
    }
    ion-navbar.toolbar {
        border-bottom: 1px solid rgba(128, 128, 128, 0.15);
    }
    .myGrid {
        padding: 0px;
        background: white;
        margin-bottom: 5px;
        margin-top: 12px;
    }
    .manulaGrid {
        padding: 0px;
    }
    .rmPadd{
        padding: 0px;
    }
    .bookmarkBlackIcon {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
        margin-top: -20px;
    }
    .rowFlex2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
      .views {
        padding-left: 7px;
        color: #898989;
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .colFlex {
        display: flex;
        justify-content: center;
    }
    .like {
        padding-left: 4px;
        color: #427feb;
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .saveIcons{
        position: absolute;
        top: 90%;
    }
    .postMsg {
        padding-left: 7px; 
        font-size: 15px;
        color: #333;
        margin-top: 0;
        font-weight: 500;
    }
     p.msgText p {
        margin: 5px 0px 0px 0px;
    }
    .rowFlex3 {
        display: flex;
        align-items: center;
        padding-left: 7px;
        color: #898989;
        font-size: 15px;
    }
    .setBottomPad {
         padding-bottom: 4%;
        font-size: 16px;
        text-transform: capitalize;
    }
    .adds {
        color: red !important;
    }
    .actionUl {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
    .actionUl li {
        display: inline-block;
        margin: 0% 4% 0% 3%;
        text-align: center;
    }
     .itemText { 
        margin: 0;
        font-size: 12px;
        color: #898989;
    }
    .msgText img {
        height: 20px;
    }
    .msgText ul {
        margin: 0;
        list-style-type: none;
    }
    .msgText {
        padding: 0% 5% 0% 5%;
        font-size: 18px;
        letter-spacing: 1.5px;
        line-height: 1.5;
        margin: 0;
    }
    .has-refresher>.scroll-content {
        border-top: none;
    }
         .textUl ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .textUl ul li {
        color: #898989;
        font-size: 15px;
        display: inline-block;
        margin: 0px 10px 0px 6px;
    }

}