page-signUp {
    .topText {
        font-size: 16px;
        color: #898989;
        line-height: 1.5;
    }
    .flexRow {
        display: flex;
        align-items: stretch;
    }
    .flexCol {
        display: flex;
        align-items: flex-end; // justify-content: flex-end;
    }
    .forgotPswrd {
        text-align: right;
        font-size: 14px;
        color: #898989;
    }
    .arrowIcon {
        margin-left: 5px;
    }
    a:link {
        color: #DB2687;
        font-weight: 500;
    }
    .setBtnWidth {
        width: 94%;
        height: 50px;
        background: #DB2687;
        border-color: #DB2687;
        margin: 0px;
        border-radius: 50px;
    }
    .manualMargin {
        margin-top: 8%;
    }
    .setBtnWidthOnlyBorder {
        width: 94%;
        height: 50px;
        background: transparent;
        border: 1px solid #DB2687;
        margin: 0px;
        border-radius: 50px;
        color: #333;
        box-shadow: none;
    }
    .back-button.show-back-button {
        display: none;
    }
    .setMrgn {
        margin-top: 20px;
    }
    .loginFootertxt {
        font-size: 14px;
        color: #898989;
        text-align: center;
        padding: 1% 19% 0% 19%;
        line-height: 1.5;
    }
    a:link {
        color: #DB2687;
    }
    .setFontStyle {
        font-size: 22px;
    }
    .setheights {
        height: 75px;
        margin-top: -14px;
    }
    .colMale {
        display: flex;
        justify-content: center;
        padding-left: 15%;
    }
    .item-md.item-toggle ion-label {
        margin-left: 0;
        color: #666;
    }
    .toggle {
        padding: 0% 3% 0% 4%;
        color: #898989;
        font-size: 22px;
    }
    .errorMsg {
        padding-left: 22%;
        padding-top: 2%;
        color: #b91b1b;
        font-size: 14px;
        letter-spacing: 2px;
    }
    .toolbar-background-md {
        border-color: #b2b2b2;
        background: white;
    }
    ion-navbar.toolbar {
        margin: 8% 0% 0% 0%;
        border-right: 4px solid #DB2687;
    }
    .item-md.item-toggle ion-label {
        margin-left: 0;
        color: #666;
    }
    .toolbar-title-md {
        text-align: right;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 2px;
        padding-bottom: 0;
        font-size: 1.5em;
        font-weight: 500;
        color: #444;
    }
    .item-md {
        padding-left: 0px;
    }
    .manuleMargin {
        margin-top: -30px;
    }
    .marginTop {
        margin-top: 30px;
    }
}