<ion-header>
    <ion-navbar class="removePadd">
        <ion-grid>
            <ion-row class="headeritems">
                <ion-col (click)="back()" col-2 class="removePadd setFontStyle">
                    <ion-icon name="ios-arrow-back"></ion-icon>
                </ion-col>
                <ion-col col-5 class="removePadd"></ion-col>
                <ion-col col-5>
                    <ion-title>{{translate?.signUp}}</ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid>
        <form [formGroup]="signUpForm">
            <ion-row>
                <ion-col col-12>
                    <p class="topText">{{translate?.longText}}
                        <a (click)="navigateLoginPage()">{{translate?.loginTxt}}</a>
                    </p>
                </ion-col>
            </ion-row>
            <!--<ion-row>
                <ion-col col-12 class="colMale">
                    <p-selectButton [options]="types" formControlName="prefix" [(ngModel)]="selectedType"></p-selectButton>
                </ion-col>
            </ion-row>-->
            <ion-row class="flexRow setheights manuleMargin">
                <ion-col col-2 class="flexCol">
                    <img src="./assets/icon/user_name.png" alt="email" height="30px" width="30px">
                </ion-col>
                <ion-col col-10>
                    <ion-item>
                        <ion-label floating>{{translate?.username}}</ion-label>
                        <ion-input type="text" formControlName="name" pattern="[a-zA-Z][a-zA-Z0-9\s]*"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <div class="errorMsg" *ngIf="signUpForm.controls.name.hasError('pattern') && signUpForm.controls.name.dirty">{{error?.name}}</div>
                </ion-col>
            </ion-row>
            <!--<ion-row class="flexRow setheights">
                <ion-col col-2 class="flexCol">
                    <img src="./assets/icon/email.png" alt="email" height="35px" width="35px">
                </ion-col>
                <ion-col col-10>
                    <ion-item>
                        <ion-label floating>{{translate?.email}}</ion-label>
                        <ion-input type="text" formControlName="email"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>-->
            <!--<ion-row>
                <ion-col col-12>
                    <div class="errorMsg" *ngIf="signUpForm.controls.email.hasError('pattern') && signUpForm.controls.email.dirty">{{error?.email}}</div>
                </ion-col>
            </ion-row>-->
            <ion-row class="flexRow setheights">
                <ion-col col-2 class="flexCol">
                    <img src="./assets/icon/mobile.png" alt="email" height="30px" width="30px">
                </ion-col>
                <ion-col col-10>
                    <ion-item>
                        <ion-label floating>{{translate?.mobileNo}}</ion-label>
                        <ion-input type="text" formControlName="mobile"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <div class="errorMsg" *ngIf="signUpForm.controls.mobile.hasError('pattern') && signUpForm.controls.mobile.dirty">{{error?.mobile}}</div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <div class="errorMsg" *ngIf="signUpForm.controls.mobile.hasError('minlength') && signUpForm.controls.mobile.dirty">{{error?.maxLength}}</div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <div class="errorMsg" *ngIf="signUpForm.controls.mobile.hasError('maxlength') && signUpForm.controls.mobile.dirty">{{error?.minLength}}</div>
                </ion-col>
            </ion-row>
            <ion-row class="flexRow setheights manuleMargin">
                <ion-col col-2 class="flexCol">
                    <img src="./assets/icon/password.png" alt="email" height="30px" width="30px">
                </ion-col>
                <ion-col col-10>
                    <ion-item>
                        <ion-label floating>{{translate?.password}}</ion-label>
                        <ion-input type="text" formControlName="password"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="flexRow setMrgn">
                <ion-col col-12 align="center" class="toggle">
                    <ion-item>
                        <ion-label>{{eighteenText}}</ion-label>
                        <ion-toggle formControlName="eighteenPlus" [(ngModel)]="eighteenPlus" checked="false"></ion-toggle>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="flexRow setMrgn marginTop">
                <ion-col col-12 align="center" class="toggle">
                    <button class="setBtnWidth" (click)="signUp()" [disabled]="!signUpForm.valid" ion-button color="danger">{{translate?.signUp}}</button>
                </ion-col>
            </ion-row>
            <ion-row class="flexRow setMrgn">
                <ion-col col-12 align="center" class="toggle">
                    or
                </ion-col>
            </ion-row>
            <ion-row class="flexRow setMrgn">
                <ion-col col-12 align="center" class="toggle">
                    <button class="setBtnWidthOnlyBorder" (click)="navigateLoginPage()" ion-button color="danger">{{translate?.loginTxt}}</button>
                </ion-col>
            </ion-row>
            <ion-row class="flexRow">
                <ion-col col-12>
                    <p class="loginFootertxt">{{translate?.term}}</p>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>