<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-title>{{imliText}}<span class="smallText">({{smalltext}})</span></ion-title>
        </ion-col>
        <ion-col col-2 *ngIf="hideFeature" (click)="navigateSettingPage()" class="setting">
          <ion-icon  name="settings"></ion-icon>
        </ion-col>
        <ion-col col-2 class="notification">
          <ion-icon  *ngIf="hideFeature"  name="notifications"><ion-badge item-top>4</ion-badge></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-nav [root]="rootTabs"></ion-nav>
</ion-content>