page-home {
    .setting {
        text-align: right;
        font-size: 22px;
    }
    .notification {
        text-align: center;
        font-size: 22px;
    }
    .badge-md {
        position: absolute;
        top: -10%;
        right: 5%;
        background: #b20090;
    }
    .header-md::after {
        left: 0;
        bottom: -5px;
        position: absolute;
        width: 100%;
        display: none;
        height: 5px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
        background-repeat: repeat-x;
        background-position: 0 -2px;
        content: "";
    }
    .smallText {
        font-size: 12px;
        color: grey;
        margin-left: 10px;
    }
    ion-navbar.toolbar {
        padding-bottom: 0px;
    }
    .toolbar-background-md {
        border-color: #b2b2b2;
        background: white;
    }
}