.ui-panel .ui-panel-titlebar {
    padding: 2em .75em;
}

.ui-panel .ui-panel-titlebar-icon {
    margin-left: .2em;
    margin-top: -0.1em;
    background: transparent;
    border: navajowhite;
    color: white;
}

.ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon:hover {
    border-color: #c0c0c0;
    background: transparent;
    border: navajowhite;
    color: white;
}

.alert-md .alert-head {
    padding: 24px 24px 20px 24px;
    text-align: center;
}

.header-md::after {
    left: 0;
    bottom: -5px;
    position: absolute;
    width: 100%;
    height: 5px;
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==); */
    background-repeat: repeat-x;
    background-position: 0 -2px;
    content: "";
}

.header-md::after,
.tabs-md[tabsPlacement="top"]>.tabbar::after,
.footer-md::before,
.tabs-md[tabsPlacement="bottom"]>.tabbar::before {
    left: 0;
    bottom: -5px;
    position: absolute;
    width: 100%;
    height: 5px;
    background: transparent;
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==); */
    background-repeat: repeat-x;
    background-position: 0 -2px;
    content: "";
}

.ui-panel.ui-widget .ui-panel-titlebar-icon span {
    position: relative;
    top: 1px;
    color: #aba9a9;
}

.ui-widget-content {
    border: none;
    background: #ffffff;
    color: #222222;
}

.ui-widget-content {
    border: none;
    background: #ffffff;
    color: #222222;
}

.ui-selectbutton {
    display: inline-block;
    height: 40px;
    width: 255px;
}


/*.ui-togglebutton.ui-button.ui-state-default,
.ui-selectbutton .ui-button.ui-state-default {
    border: 1px solid #d6d6d6;
    background: #ffffff;
    font-weight: normal;
    color: #555555;
    height: 100%;
    padding-top: 7px;
}*/

.ui-selectbutton .ui-button.ui-state-default {
    border: 1px solid #d6d6d6;
    background: #ffffff;
    font-weight: normal;
    color: #555555;
    height: 40px;
    padding-top: 8px;
    width: 120px;
}

.ui-selectbutton .ui-button.ui-state-active {
    border: 1px solid #DB2687;
    background: #DB2687;
    color: #FFFFFF;
}

.popover-md .popover-content {
    border-radius: 2px;
    width: 250px;
    min-width: 0;
    min-height: 0;
    max-height: 90%;
    color: #000;
    background: #fff;
    left: inherit !important;
    box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.3);
    top: 26% !important;
    right: 9% !important;
    transform-origin: left top 0px;
    transform: scale(1);
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.alert-md .alert-button-group {
    padding-left: 10px;
}

.ql-toolbar.ql-snow {
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 8px;
    display: none;
}

.ql-toolbar.ql-snow+.ql-container.ql-snow {
    /*border-top: 1px solid #ccc;*/
    height: 200px !important;
}

.ql-snow .ql-editor img {
    max-width: 100%;
    height: 20px;
}

ion-app.md [padding],
ion-app.md [padding] .scroll-content {
    background-color: #f1f1f1;
}

.ql-container.ql-snow {
    border: none;
}

.ui-panel.ui-widget .ui-panel-titlebar.ui-corner-all {
    padding-left: 3% !important;
    display: flex;
    align-items: center;
    position: relative;
}

.setCls {
    margin-right: 15px;
}

.platform-mobile textarea.text-input {
    resize: none;
    height: 200px;
    border: 1px solid #e5e5e5;
    padding: 10px;
}

a {
    color: #DB2687;
    font-weight: 500;
}

.radio-md .radio-inner {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: #DB2687;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.radio-md .radio-icon {
    left: 0;
    top: 0;
    margin: 0;
    border-radius: 50%;
    position: relative;
    display: block;
    width: 19px;
    height: 19px;
    border-width: 2px;
    border-style: solid;
    border-color: #787878;
}

.radio-md .radio-checked {
    border-color: #DB2687 !important;
}

.toolbar-background-md {
    border-color: #b2b2b2;
    background: white !important;
}

.ion-md-checkmark:before {
    content: "\f2bc";
    margin-right: 10px;
}

.item-radio-checked.item-md ion-label {
    color: #333;
}

.alert-md .alert-button .button-inner {
    justify-content: flex-start !important;
}

.toggle-md.toggle-checked .toggle-icon {
    background-color: #e672b1;
}

.toggle-md.toggle-checked .toggle-inner {
    background-color: #DB2687;
    -webkit-transform: translate3d(16px, 0, 0);
    transform: translate3d(16px, 0, 0);
} 

.ui-panel.ui-widget .ui-panel-titlebar-icon span {
    position: absolute;
    color: #aba9a9;
    right: 10px;
    top: 46%;
}

/*.tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text {
    margin-top: 4px;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}*/


/*.ion-md-add:before {
    content: "\f273";
    margin-right: 10px;
}*/