<ion-header>
    <ion-navbar class="removePadd">
        <ion-grid>
            <ion-row class="headeritems">
                <ion-col col-2 class="removePadd downArrow" (click)="popNav()">
                    <ion-icon name="arrow-back"></ion-icon>
                </ion-col>
                <ion-col col-8 class="removePadd">
                    <ion-title>{{followersList}}</ion-title>
                </ion-col>
                <ion-col col-2></ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-nav [root]="rootTabs"></ion-nav>
</ion-content>