page-comment {
    .bottomRow {
        position: fixed;
        bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-top: 1px solid lightgray;
    }
    .col2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 27px;
        color: grey;
        padding: 0px;
    }
    .textPadd {
        padding: 0;
        padding-left: 2%;
    }
    .downArrow {
        font-size: 23px;
        display: flex;
        justify-content: center;
        color: #3c3c3e;
    }
    .setRowHeight {
        height: 60vh;
    }
    .circleImg {
        border-radius: 25px;
    }
    .username {
        font-size: 16px;
        font-weight: bold;
        margin-right: 5px;
    }
    .commentText {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid lightgray;
    }
    .grid {
        padding: 0px;
    }
    .no-pad {
        padding: 0px;
    }
    .button-md {
        width: 100%;
        height: 50px !important;
        margin: 0;
        background: #DB2687;
        border-color: #DB2687;
    }
}