<ion-header>
    <ion-navbar class="removePadd">
        <ion-grid>
            <ion-row class="headeritems">
                <ion-col col-2 class="removePadd downArrow" (click)="popNav()">
                    <ion-icon name="close"></ion-icon>

                </ion-col>
                <ion-col col-8 class="removePadd">
                    <ion-title>Comments</ion-title>
                </ion-col>
                <ion-col col-2></ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="commentForm">
        <ion-grid class="grid">
            <ion-row *ngFor="let data1 of commentList">
                <ion-col col-2> <img class="circleImg" [src]="data1?.profilePic" height="50px" width="50px" alt="data1?.name"></ion-col>
                <ion-col col-10 class="commentText">
                    <div>
                        <span class="username">{{data1?.name}}</span>{{data1?.comment}}
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="bottomRow">
                <ion-col col-10 class="textPadd">
                    <ion-input class="txtAr" placeholder="write comment here" formControlName="commentInput" [(ngModel)]="comment" type="text" value=""></ion-input>
                </ion-col>
                <ion-col col-2 class="col2">
                    <!--<ion-icon ios="ios-send" md="md-send" ></ion-icon>-->
                    <button [disabled]="!commentForm.valid" (click)="postComment()" ion-button icon-only>
                       <ion-icon name="checkmark"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>