page-follow-feed {
    .setContentBg {
        background: #f1f1f1;
    }
    .boxShadowStyle {
        height: 73px;
        display: flex;
        align-items: center;
        background-color: white;
        box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.11);
    }
    .followersText {
        color: #666;
        font-size: 16px;
        padding-left: 6px;
    }
    .pofilePic {
        border-radius: 30px;
    }
    .moreIcons {
        font-size: 22px;
        color: #666;
    }
    .itemText {
        margin: 0;
        font-size: 12px;
        color: #898989;
    }
    .rowFlex {
        display: flex;
        align-items: center;
        font-size: 17px;
        color: #333;
        height: 70px;
    }
    .followTxt {
        color: #DB2687;
    }
    .setFontWeight {
        font-weight: 500;
    }
    .grid {
        padding: 0px;
        margin-bottom: 5px;
    }
    .myGrid {
        padding: 0px;
        background: white;
        margin-bottom: 0px;
        margin-top: 10px;
    }
    .rowFlex2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
    .colFlex {
        display: flex;
        justify-content: center;
    }
    .bookmarkBlackIcon {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
        margin-top: -20px;
    }
    .like {
        padding-left: 4px;
        color: #427feb;
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .saveIcons{
        position: absolute;
        top: 90%;
    }
    .views {
        padding-left: 7px;
        color: #898989;
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .postMsg {
        padding-left: 7px;
        font-size: 15px;
        color: #333;
        margin-top: 0;
        font-weight: 500;
    }
    .rowFlex3 {
        display: flex;
        align-items: center;
        padding-left: 7px;
        color: #898989;
        font-size: 15px;
    }
    .setBottomPad {
        padding-bottom: 4%;
        font-size: 16px;
        text-transform: capitalize;
    }
    .setFlex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .setBackground {
        background: #11D16C;
        border-color: #11D16C;
        width: 70%;
        color: white;
        letter-spacing: 1.2px;
        font-weight: bold;
        box-shadow: 1px 0px 9px 0px #0af77a;
    }
    .firstP {
        margin: 11% 0% 0% 0%;
        text-align: center;
    }
    .secondP {
        margin: 1% 0% 9% 0%;
        text-align: center;
    }
    .actionUl {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
    .actionUl li {
        display: inline-block;
        margin: 0% 4% 0% 3%;
        text-align: center;
    }
    .msgText img {
        height: 20px;
    }
    .msgText ul {
        margin: 0;
        list-style-type: none;
    }
    p.msgText p {
        margin: 5px 0px 0px 0px;
    }
    .msgText {
        padding: 0% 5% 0% 5%;
        font-size: 18px;
        letter-spacing: 1.5px;
        line-height: 1.5;
        margin: 0px;
    }
    .removePadd {
        padding: 0px;
    }
    .setBtnWidth {
        width: 100%;
        height: 50px;
        background: #DB2687;
        border-color: #DB2687;
        margin: 0px;
    } // .has-refresher>.scroll-content {
    //     border-top: none;
    // }
    .has-refresher>.scroll-content {
        border-top: none;
        margin-top: 57px !important;
    }
    .textUl ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .textUl ul li {
        color: #898989;
        font-size: 15px;
        display: inline-block;
        margin: 0px 10px 0px 6px;
    }
}