  change-password {
      .rowFlex {
          display: flex;
          align-items: stretch;
          padding-top: 5%;
          color: #898989;
      }
      .iconAlignment {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          padding-bottom: 5%;
      }
      .setBorderBottom {
          display: flex;
          align-items: center;
          border-bottom: 1px solid rgba(137, 137, 137, 0.15);
          padding-bottom: 5%;
      }
      .pencil {
          display: flex;
          justify-content: center;
          font-size: 16px;
          align-items: flex-end;
      }
      .removePadd {
        padding: 0;
    }
       .headeritems {
        display: flex;
        align-items: center;
    }
        .submiticon {
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 27px;
        color: #333;
        // background: #7dc746;
    }
  }