<ion-header>
    <ion-navbar class="removePadd">
        <ion-grid>
            <ion-row class="headeritems">
                <ion-col col-10 class="removePadd">
                    <ion-title>{{translate?.changePass}}</ion-title>
                </ion-col>
                <ion-col col-2 (click)="changePasswordApi()" class="removePadd submiticon">
                    <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <form [formGroup]="changePassword">
            <ion-row class="rowFlex">
                <ion-col col-2 class="iconAlignment"><img src="./assets/icon/password.png" alt="mobile" height="30px" width="30px"></ion-col>
                <ion-col col-8 class="setBorderBottom">
                    <ion-item>
                        <ion-label floating>{{translate?.oldPass}}</ion-label>
                        <ion-input type="text" formControlName="oldPassword"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2 class="setBorderBottom pencil">
                    <ion-icon ios="ios-create" md="md-create"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row class="rowFlex">
                <ion-col col-2 class="iconAlignment"><img src="./assets/icon/password.png" alt="mobile" height="30px" width="30px"></ion-col>
                <ion-col col-8 class="setBorderBottom">
                    <ion-item>
                        <ion-label floating>{{translate?.newPass}}</ion-label>
                        <ion-input type="text" formControlName="newPassword"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2 class="setBorderBottom pencil">
                    <ion-icon ios="ios-create" md="md-create"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row class="rowFlex">
                <ion-col col-2 class="iconAlignment"><img src="./assets/icon/password.png" alt="mobile" height="30px" width="30px"></ion-col>
                <ion-col col-8 class="setBorderBottom">
                    <ion-item>
                        <ion-label floating>{{translate?.confirmPass}}</ion-label>
                        <ion-input type="text" formControlName="confirmPassword"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2 class="setBorderBottom pencil">
                    <ion-icon ios="ios-create" md="md-create"></ion-icon>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>