<ion-header>
    <ion-navbar class="removePadd setBorderBottom">
        <ion-grid>
            <ion-row class="headeritems">
                <ion-col col-2 class="removePadd backArrow" (click)="back()">
                    <ion-icon name="arrow-round-back"></ion-icon>
                </ion-col>
                <ion-col col-10 class="removePadd">
                    <ion-title>{{createPostText}}</ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content class="setContentBg">
    <ion-grid class="setManualHeight">
        <ion-row>
            <ion-col col-12 class="setMarginTop">
                <p-panel class="first" *ngFor="let categories of getCategoryList" [headerImage]="categories?.categoryImage" [header]="categories?.categoryName" [style]="{'background':'white','font-size':'17px','padding':'22px'}"
                    [contentBg]="{'background':'#F2F2F2'}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
                    <ion-grid>
                        <ion-row class="meriDunia">     
                            <!--<div class="imgSection" [ngStyle]="{ 'background-image': 'url('+categories?.categoryImage+')' }"></div>-->
                           <ion-col col-4 class="itemCard" *ngFor="let dataAll of categories?.subCategory; let index=index" (click)="formatText=dataAll?._id" id="some{{index}}" [class.hightlight]="formatText==dataAll?._id"> 
                                <p id="some{{index}}" (click)="getSubCategoryName($event,categories,dataAll)">{{dataAll?.subCategoryName}}</p>
                                <!--<p-selectButton [options]="cities" [(ngModel)]="selectedCity"></p-selectButton>-->
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </p-panel>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="setManualHeight">
        <ion-row>
            <ion-col col-12 class="setMarginTop">
                <p-panel class="first" *ngFor="let categories of getCategoryList2" [headerImage]="categories?.categoryImage" [header]="categories?.categoryName" [style]="{'background':'white','font-size':'17px','padding':'22px'}"
                    [contentBg]="{'background':'#F2F2F2'}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
                    <ion-grid>
                        <ion-row class="meriDunia">     
                            <!--<div class="imgSection" [ngStyle]="{ 'background-image': 'url('+categories?.categoryImage+')' }"></div>-->
                           <ion-col col-4 class="itemCard" *ngFor="let dataAll of categories?.subCategory; let index=index" (click)="formatText=dataAll?._id" id="some{{index}}" [class.hightlight]="formatText==dataAll?._id"> 
                                <p id="some{{index}}" (click)="getSubCategoryName($event,categories,dataAll)">{{dataAll?.subCategoryName}}</p>
                                <!--<p-selectButton [options]="cities" [(ngModel)]="selectedCity"></p-selectButton>-->
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </p-panel>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row class="setBottom">
            <ion-col col-12 class="removePadd">
                <button [disabled]="!categorySelected" class="setBtnWidth" (click)="createPost()" ion-button color="danger">{{postText}}</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>