  page-chooseCategory {
      .setContentBg {
          background: #f1f1f1;
      }
      .setManualHeight {
        //   height: 84vh;
          overflow: auto;
      }
      a:visited {
          color: #B42FA0;
      }
      .headeritems {
          display: flex;
          align-items: center;
      }
      .setBg {
          background: #B42FA0;
          color: white;
      }
      .backArrow {
          display: flex;
          justify-content: center;
          font-size: 18px;
          color: grey;
      }
      .itemCard {
          margin: 4%;
          border-radius: 30px;
          display: flex;
          color: #333333;
          justify-content: center;
          border: 1px solid #B42FA0;
          font-size: 18px;
          padding: 2%;
          position: relative;
      }
      .itemCard p {
          margin: 0;
      }
      .ui-panel .ui-panel-titlebar .first {
          padding: 1.5em .75em;
          background: #A81D1D;
          color: white;
          font-weight: bold;
      }
      .ui-widget-content {
          /* border: 1px solid #D5D5D5; */
          background: #ffffff;
          color: #222222;
      }
      .setBottom {
          position: fixed;
          bottom: 0px;
          padding: 0px;
          width: 100%;
          left: 0px;
      }
      .setBtnWidth {
          width: 100%;
          height: 50px;
          margin: 0px;
          background: #DB2687;
          border-color: #DB2687;
      }
      .grid {
          padding: 0px;
        //   background: white;
          margin-bottom: 15px;
        //   margin-top: 15px;
      }
      .removePadd {
          padding: 0;
      }
      .button-md {
          margin: 0px;
      }
      .selectBtn {
          background-color: rgba(210, 22, 115, 0.73);
          color: white;
      }
      .hightlight {
          background-color: rgba(210, 22, 115, 0.73);
          color: white;
      }
      .toolbar-background-md {
          border-color: #b2b2b2;
          background: white;
      }
      .setMarginTop {
          margin-top: 5px;
        //   padding-top: 10px;
      }
      .setBorderBottom {
          border-bottom: 1px solid rgba(128, 128, 128, 0.31);
              padding-top: 12px;
      }
      .imgSection {
        height: 45px;
        width: 45px;
        border-radius: 25px;
        left: 15px;
        position: absolute;
        background-position: center center;
        background-size: cover;
        display: block;
    }
  }