<ion-content>
  <ion-grid class="no-padd">
    <ion-row class="no-padd">
      <ion-col col-12 class="setBack" *ngFor="let userdata of flowersData; let index=index">
        <div class="flexDiv">
          <ion-col col-2>
            <!--{{userdata?.profilePic}}-->
            <div class="imgCircle" [ngStyle]="{ 'background-image': 'url('+userdata?.profilePic+')' }" id="followId"></div>
            <!--<img [src]="userdata?.profilePic" class="userImg" height="60px" width="60px" alt="">-->
          </ion-col>
          <ion-col col-10 class="setPadd">
            <p class="no-margin" style="text-transform: uppercase;font-weight: 500">{{userdata?.name}}</p>
            <p class="no-margin">{{userdata?.status}}</p>
          </ion-col>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>