<ion-header>
    <ion-navbar class="removePadd">
        <ion-grid>
            <ion-row class="headeritems">
                <ion-col (click)="back()" col-2 class="removePadd setFontStyle">
                       <ion-icon name="ios-arrow-back"></ion-icon>
                </ion-col>
                <ion-col col-6 class="removePadd"></ion-col>
                <ion-col col-4>
                    <ion-title>{{loginText}}</ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid>
        <form [formGroup]="loginForm">
            <ion-row>
                <ion-col col-12>
                    <p class="topText">{{topText}}
                        <a class="anchorTag" (click)="navigateSignUppage()">{{signUpText}}</a>
                    </p>
                </ion-col>
            </ion-row>
            <ion-row class="flexRow">
                <ion-col col-2 class="flexCol2">
                    <img src="./assets/icon/mobile.png" alt="email" height="30px" width="30px">
                </ion-col>
                <ion-col col-10>
                    <ion-item>
                        <ion-label floating>{{usernameText}}</ion-label>
                        <ion-input type="text" formControlName="mobile"></ion-input>
                    </ion-item>
                </ion-col> 
            </ion-row>
            <ion-row class="flexRow">
                <ion-col col-2 class="flexCol2">
                    <img src="./assets/icon/password.png" alt="email" height="30px" width="30px">
                </ion-col>
                <ion-col col-10>
                    <ion-item>
                        <ion-label floating>{{password}}</ion-label>
                        <ion-input type="password" formControlName="password"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="hideFeatures">
                <ion-col col-12>
                    <p class="forgotPswrd"><span (click)="navigateForgotPage()">Forgot password</span>
                        <ion-icon class="arrowIcon" ios="ios-arrow-forward" md="ios-arrow-forward"></ion-icon>
                    </p>
                </ion-col>
            </ion-row>
            <ion-row class="flexRow setMrgn">
                <ion-col col-12 align="center" class="loginButton">
                    <button (click)="login()" [disabled]="!loginForm.valid" class="setBtnWidth" ion-button color="danger">{{loginText}}</button>
                </ion-col>
            </ion-row>
            <ion-row class="flexRow setMrgn">
                <ion-col col-12>
                    <p class="loginFootertxt">{{termAndcon}}</p>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>