page-login {
    .setFontStyle {
        font-size: 22px;
    }
    .loginButton {
        z-index: 999999;
    }
    .anchorTag {
        color: #DB2687;
        font-weight: bold;
    }
    .topText {
        font-size: 16px;
        color: #898989;
        padding: 10px;
        line-height: 1.5;
        margin-top: 20px;
    }
    .flexRow {
        display: flex;
        align-items: stretch;
    }
    .flexCol {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
     .flexCol2 {
        display: flex;
        align-items: flex-end;
        padding-left: 10px;
    }
    .back-button.show-back-button {
        display: none;
    }
    .forgotPswrd {
        text-align: right;
        font-size: 14px;
        color: #898989;
    }
    .arrowIcon {
        margin-left: 5px;
    }
    .grid{
        padding: 0px;
    }
    .setBtnWidth {
        width: 85%;
        height: 50px;
        background: #DB2687;
        border-color: #DB2687;
        margin: 0px;
        border-radius: 50px;
        box-shadow: 0px 0px 4px 3px rgba(253, 126, 126, 0.7);
    }
    .setMrgn {
        margin-top: 35px;
    }
    .loginFootertxt {
        font-size: 14px;
        color: #898989;
        text-align: center;
        padding: 0px 76px 10px 69px;
        line-height: 1.5;
    }
    a:link {
        color: #DB2687;
    }
    .toolbar-background-md {
        border-color: #b2b2b2;
        background: white;
    }
    ion-navbar.toolbar {
        margin: 8% 0% 0% 0%;
        border-right: 4px solid #DB2687;
    }
    .toolbar-title-md {
        text-align: right;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 2px;
        padding-bottom: 0;
        font-size: 1.5em;
        font-weight: 500; 
        color: #444;
    }
    .item-md{
        padding-left: 0px;
    }
}