<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-7>
          <ion-title>{{exploreText}}</ion-title>
        </ion-col>
        <ion-col col-5 (click)="openSearchModel()" class="searchItem">
          <ion-icon name="search"></ion-icon>
        </ion-col>
        <ion-col *ngIf="hideFeature" (click)="navigateSettingPage()" col-1 class="setting">
          <ion-icon name="settings"></ion-icon>
        </ion-col>
        <ion-col *ngIf="hideFeature" col-2 class="notification">
          <ion-icon name="notifications">
            <ion-badge item-top>4</ion-badge>
          </ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content class="setContentBg">
  <!--<ion-grid class="setManualHeight">
    <ion-row>
      <ion-col col-12>
        <p-panel class="first" *ngFor="let categories of getCategoryList" [header]="categories?.categoryName" [style]="{'background':'white','font-size':'17px','padding':'22px'}"
          [contentBg]="{'background':'#F2F2F2'}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
          <ion-grid class="grid">
            <ion-row class="meriDunia">
              <ion-col col-4 class="itemCard" *ngFor="let dataAll of categories?.subCategory">
                <p (click)="getSubCategoryName($event,categories?.categoryName)">{{dataAll?.subCategoryName}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </p-panel>
      </ion-col>
    </ion-row>
  </ion-grid>-->
  <ion-grid>
    <ion-row class="rowsStart">
      <ion-col col-12>
        <p-panel header="Hindi (हिंदी)"  [toggleable]="false" [collapsed]="false" [style]="{'margin-bottom':'20px'}">
          <p-panel class="first" *ngFor="let categories of getCategoryList" [headerImage]="categories?.categoryImage" [header]="categories?.categoryName" [style]="{'background':'white','font-size':'17px','padding':'22px'}"
            [contentBg]="{'background':'#F2F2F2'}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
            <!--<div class="imgSection" [ngStyle]="{ 'background-image': 'url('+categories?.categoryImage+')' }"></div>-->
            <ion-grid class="grid">
              <ion-row class="meriDunia">
                <ion-col col-5 class="itemCard" *ngFor="let dataAll of categories?.subCategory">
                  <p (click)="getSubCategoryName($event,categories,dataAll)" style="text-align: center;">{{dataAll?.subCategoryName}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </p-panel>
        </p-panel>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <p-panel header="English" [toggleable]="false" [collapsed]="false" [style]="{'margin-bottom':'20px'}">
          <p-panel class="first" *ngFor="let categories of getCategoryList2" [headerImage]="categories?.categoryImage" [header]="categories?.categoryName" [style]="{'background':'white','font-size':'17px','padding':'22px'}"
            [contentBg]="{'background':'#F2F2F2'}" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
            <ion-grid class="grid">
              <ion-row class="meriDunia">
                <!--<div class="imgSection" [ngStyle]="{ 'background-image': 'url('+categories?.categoryImage+')' }"></div>-->
                <ion-col col-5 class="itemCard" *ngFor="let dataAll of categories?.subCategory">
                  <p (click)="getSubCategoryName($event,categories,dataAll)">{{dataAll?.subCategoryName}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </p-panel>
        </p-panel>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>