page-search {
    .setManualHeight {
        height: 80vh;
        overflow: auto;
    }
    .setContentBg {
        background: #f1f1f1;
    }
    .searchItem {
        font-size: 20px;
        color: #343434;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    ion-header {
        left: 0;
        top: 0;
        position: absolute;
        z-index: 10;
        display: block;
        width: 100%;
        border-bottom: 1px solid rgba(128, 128, 128, 0.28);
    }
    .setting {
        text-align: right;
        font-size: 22px;
    }
    .notification {
        text-align: center;
        font-size: 22px;
    }
    .badge-md {
        position: absolute;
        top: -10%;
        right: 5%;
        background: #b20090;
    }
    .itemCard {
        margin: 4%;
        border-radius: 30px;
        display: flex;
        color: #333333;
        justify-content: center;
        border: 1px solid #B42FA0;
        font-size: 18px;
        padding: 2%;
        position: relative;
    }
    .itemCard p {
        margin: 0;
    }
    .ui-panel .ui-panel-titlebar .first {
        padding: 1.5em .75em;
        // background: #A81D1D;
        color: white;
        font-weight: bold;
    }
    .ui-widget-content {
        /* border: 1px solid #D5D5D5; */
        background: #ffffff;
        color: #222222;
    }
    .setBottom {
        position: fixed;
        bottom: 0px;
        padding: 0px;
        width: 100%;
        left: 0px;
    }
    .rowsStart {
        margin-top: 12px;
        margin-bottom: 10px;
    }
    .setBtnWidth {
        width: 100%;
        height: 50px;
        margin: 0px;
        background: #DB2687;
        border-color: #DB2687;
    }
    .grid {
        padding: 0px;
    }
    .removePadd {
        padding: 0;
    }
    .button-md {
        margin: 0px;
    }
    .imgSection {
        height: 45px;
        width: 45px;
        border-radius: 25px;
        left: 15px;
        position: absolute;
        background-position: center center;
        background-size: cover;
        display: block;
    }

    .first .ui-panel.ui-widget .ui-panel-titlebar.ui-corner-all {
    padding-left: 0 !important;
    display: flex;
    align-items: center;
    position: relative;
}
}