<ion-tabs class="setTabHeight" tabsPlacement="top">
  <ion-tab [root]="tab1Root" [tabTitle]="followFeedText" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" [tabTitle]="trendingText" tabIcon="ios-flash"></ion-tab>
</ion-tabs>
