page-fresh {
    .pofilePic {
        border-radius: 30px;
    }
    .setContentBg {
        background: #f1f1f1;
    }
    .manulaGrid {
        padding: 0px;
        background: white; // margin-top: 13px;
    }
    .rowFlex {
        display: flex;
        align-items: center;
        font-size: 17px;
        color: #333;
        height: 70px;
    }
    .has-refresher>.scroll-content {
        margin-top: 63px !important;
        border-top: none;
    }
    .moreItemsClass {
        display: flex;
        justify-content: center;
    }
    .followTxt {
        color: #DB2687;
    }
    .grid {
        padding: 0px;
        background: white;
        margin-bottom: 15px; // margin-top: 15px;
    }
    .rowFlex2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 5px 0px 5px;
    }
    .colFlex {
        display: flex;
        justify-content: center;
    }
    .actionUl {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
    .views {
        padding-left: 7px;
        color: #898989;
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .actionUl li {
        display: inline-block;
        margin: 0% 4% 0% 3%;
        text-align: center;
    }
    .itemText {
        margin: 0;
        font-size: 12px;
        color: #898989;
    }
    .like {
        padding-left: 4px;
        color: #427feb;
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .saveIcons {
        position: absolute;
        top: 90%;
    }
    .bookmarkBlackIcon {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
        margin-top: -20px;
    }
    .postMsg {
        padding-left: 7px;
        font-size: 15px;
        color: #333;
        margin-top: 0;
        font-weight: 500;
    }
    .rowFlex3 {
        display: flex;
        align-items: center;
        padding-left: 7px;
        color: #898989;
        font-size: 15px;
    }
    .setBottomPad {
        padding-bottom: 4%;
        font-size: 16px;
        text-transform: capitalize;
    }
    .has-refresher>.scroll-content {
        border-top: none;
    }
    .msgText {
        padding: 0% 5% 0% 5%;
        font-size: 18px;
        letter-spacing: 1.5px;
        line-height: 1.5;
        margin: 0;
    }
    .setFontWeight {
        font-weight: 500;
    }
    .moreIcons {
        font-size: 25px;
        color: #666;
    }
    .textUl ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .textUl ul li {
        color: #898989;
        font-size: 15px;
        display: inline-block;
        margin: 0px 10px 0px 6px;
    }
}