page-you {
    // .flexDiv {
    //     width: 100%;
    //     display: flex;
    //     align-items: center;
    // }
    // .no-margin {
    //     margin: 0;
    // }
    // .no-padd {
    //     padding: 0px;
    // }
    // .setBack {
    //     padding: 10px;
    //     border-bottom: 1px solid #c3c0c0;
    // }
    // .textOverflow{
    //     white-space: nowrap;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    // }
        .downArrow {
        font-size: 23px;
        display: flex;
        justify-content: center;
        color: #3c3c3e;
    }
    .flexDiv {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .no-margin {
        margin: 0;
    }
    .no-padd {
        padding: 0px;
    }
    .setBack {
        padding: 10px;
        border-bottom: 1px solid #c3c0c0;
    }
    .unfollowBtn {
        background-color: #07AD55;
        border-color: #07AD55;
        border-radius: 25px;
        width: 99%;
        box-shadow: 1px 1px 4px 1px #10e675;
    }
   
    .followBtn {
        background-color: #DB2687;
        border-color: #DB2687;
        border-radius: 25px;
        width: 90%;
        box-shadow: 1px 1px 4px 1px #DB2687;
    }
    .imgCircle {
        height: 60px;
        width: 60px;
        background-position: center center;
        background-size: cover;
        display: block;
        border-radius: 30px;
    }
    .setPadd {
        padding-left: 5%;
    }
    // ===================
      .flexDiv {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .no-margin {
        margin: 0;
    }
    .no-padd {
        padding: 0px;
    }
    .setBack {
        padding: 10px;
        border-bottom: 1px solid #c3c0c0;
    }
    .textOverflow{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}