<ion-content>
  <ion-grid class="no-padd">
    <ion-row class="no-padd">
      <ion-col col-12 class="setBack" *ngFor="let userdata of followingData; let index=index">
        <div class="flexDiv">
          <ion-col col-2>
            <!--{{userdata?.profilePic}}-->
            <div class="imgCircle" [ngStyle]="{ 'background-image': 'url('+userdata?.profilePic+')' }" id="followId"></div>
            <!--<img [src]="userdata?.profilePic" class="userImg" height="60px" width="60px" alt="">-->
          </ion-col>
          <ion-col col-6 class="setPadd">
            <p class="no-margin" style="text-transform: uppercase;">{{userdata?.name}}</p>
            <p class="no-margin">{{userdata?.status}}</p>
          </ion-col>
          <ion-col col-4 class="moreIcon">
            <!--<button ion-button ></button>-->
            <button ion-button class="unfollowBtn" *ngIf="userdata?.isFollowing == true" (click)="follow(userdata,'unfollow',index)"
              icon-start>
                     <ion-icon name="checkmark"></ion-icon>{{unfollowText}}
             </button>
            <!--<button ion-button ></button>-->
             <button ion-button class="followBtn" *ngIf="userdata?.isFollowing != true" (click)="follow(userdata,'follow',index)"
              icon-start>
                     <ion-icon name="add"></ion-icon>{{followText}}
             </button>
          </ion-col>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>