<ion-tabs tabsPlacement="top">
  <ion-tab  [root]="tab1Root" [tabTitle]="tabText?.trending"></ion-tab>
  <!--<ion-tab  [root]="tab2Root" tabTitle="Best-Profile"></ion-tab>-->
  <ion-tab  [root]="tab3Root" [tabTitle]="tabText?.fresh"></ion-tab>
</ion-tabs>
