page-viralTabs {
    .tabs-md .tab-button {
        display: flex;
        flex-direction: inherit;
    }
    .tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text {
        margin-top: 4px;
        margin-bottom: 0;
        margin-left: 10px;
    }
    .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
        color: #b20090;
        font-size: 32px;
        margin-right: 10px;
    }
    .tabs-md .tabbar {
        height: 50px !important;
        background: white;
        border-bottom: 1px solid rgba(128, 128, 128, 0.18);
    }
    a#tab-t0-1 {
        display: flex;
        justify-content: flex-start;
    }
    a#tab-t0-3 {
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;
    }
    .tabs-md .tabbar {
        height: 40px;
        background: white;
    }
    .tabs-md .tab-button[aria-selected=true] {
        color: rgba(60, 60, 60, 0.7);
        border-bottom: 2px solid #b20090;
    }
    .tabs-md .tab-button-text {
        font-size: 1.2rem;
        text-transform: none;
        -webkit-transform-origin: 50% 80%;
        transform-origin: 50% 80%;
        transition: -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        margin: 0;
        font-size: 15px;
    }
}