page-createPost {
     ::-webkit-input-placeholder {
        text-align: center;
    }
     :-moz-placeholder {
        /* Firefox 18- */
        text-align: center;
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        text-align: center;
    }
     :-ms-input-placeholder {
        text-align: center;
    }
    .headeritems {
        display: flex;
        align-items: center;
    }
    .removePadd {
        padding: 0;
    }
    .submiticon {
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 27px;
        color: #333; // background: #7dc746;
    }
    .grid {
        padding: 0px;
    }
    .card {
        height: 75px;
        width: 75px;
        border-radius: 50%;
        color: #5d5a5a;
        display: flex;
        align-items: center;
        font-size: 40px;
        justify-content: center;
    }
    .mediaText {

    font-size: 16px;
    color: #666;
    margin-left: -23px;
    margin-right: 16px;
    text-align: center;
    padding-right: 17px;
}   
    // .imageName {
    //     height: 43px;
    // }
    .toolbar-background-md {
        border-color: #b2b2b2;
        background: white;
        border-bottom: 1px solid #e8e2e2;
    }
    .rowsMedia {
        position: absolute;
        bottom: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
        padding-left: 2%;
    }
    textarea.text-input {
        height: 200px;
        font-size: 18px;
    }
    .browse {
        opacity: 0;
        padding: 8px 33px 7px 7px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card4 {
        height: 100px;
        width: 95%;
        box-shadow: 1px 1px 1px black;
        display: flex;
        border-radius: 7px;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 26px;
    }
    .choose {
        font-size: 26px;
        text-align: center;
    }
    .scroll-content {
        padding: 0px !important;
    }
    .fontSize {
        font-size: 14px;
    }
    .setColHeight { 
        height: 120px;
    }
    .postImage{
        height: 250px;
        padding: 0;
        overflow: scroll;
    }
    .postedImage{
        height: auto;
    }
    .userImg {
          padding: 0;
          width: 100%;
          height: 100%;
          background-position: center center;
          background-size: cover;
          display: block;
          position: relative;
      }
 
}