<ion-header>
    <ion-navbar class="removePadd">
        <ion-grid>
            <ion-row class="headeritems">
                <ion-col col-10 class="removePadd">
                    <ion-title>{{createPostText}}</ion-title>
                </ion-col>
                <ion-col col-2 *ngIf="checkPost" (click)="presentModal()" class="removePadd submiticon">
                    <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <!--<ion-textarea name="comment" (keyup)="setMsg($event)" [(ngModel)]="status" placeholder="Write your post here..."></ion-textarea>-->
                <p-editor [(ngModel)]="status" (keyup)="setMsg()" [placeholder]="msgtext" [style]="{'height':'320px'}"></p-editor>
            </ion-col>
            <ion-col col-12  class="postImage">
                <div id="myImage" [style.backgroundImage]="'url('+imageUrl+')'" class="userImg" alt="image here" style=" height: 100%;background-size: cover;"></div>
            </ion-col>
        </ion-row>
        <ion-row class="rowsMedia">
            <ion-col col-4 class="setColHeight">
                <div class="card">
                   <img src="./assets/icon/image.png" height="100%" width="100%" alt="">
                    <div class="picChange browse">
                        <label id="photoLabel" for="fileId">change</label>
                        <input type="file"  id="fileId" (change)="fileChangeEvent_first($event)" style="display:none" />
                    </div>
                </div>
                 <div class="imageName">
                    <p class="mediaText">Choose Image</p>
                </div>
            </ion-col>
            <!-- <ion-col col-3 class="setColHeight">
                <div class="card">
                    <img src="./assets/icon/video.png" height="100%" width="100%" alt="">
                </div>
                 <div class="imageName">
                    <p class="mediaText">Video</p>
                </div>
            </ion-col> -->
            <!-- <ion-col col-3 class="setColHeight">
                <div class="card">
                    <img src="./assets/icon/music.png" height="100%" width="100%" alt="">
                </div>
                 <div class="imageName">
                    <p class="mediaText">Music</p>
                </div>
            </ion-col> -->
            <ion-col col-4 class="setColHeight">
                <div class="card">
                    <img src="./assets/icon/gif.png" height="100%" width="100%" alt="">
                    <div class="picChange browse">
                        <label id="photoLabel" for="fileId">change</label>
                        <input type="file"  id="fileId" (change)="fileChangeEvent_first($event)" style="display:none" />
                    </div>
                </div>
                <div class="imageName">
                    <p class="mediaText">Choose GIF</p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>