<ion-header>
    <ion-navbar>
        <ion-grid>
            <ion-row class="userHeader">
                <ion-col col-1>
                    <button ion-button menuToggle>
                       <ion-icon name="menu"></ion-icon>
                   </button>
                </ion-col>
                <ion-col col-11>
                    <ion-title>{{viralText}}</ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content>
  <ion-nav [root]="rootPage"></ion-nav>
</ion-content>