<ion-content>
    <ion-grid class="grid">
        <!--<form [formGroup]="language">-->
        <ion-row>
            <ion-col col-12 class="setImgHeight">
                <img src="./assets/icon/lang.png" class="langIcon" alt="lang">
            </ion-col>
        </ion-row>
        <ion-row class="flexRow">
            <!--<ion-col col-2 class="flexCol">-->
                <!--<input type="radio" formControlName="lang" (change)="checkLang($event)" name="lang" value="en">-->
                <!--<ion-radio name="lang" value="english"></ion-radio>-->
            <!--</ion-col>-->
            <ion-col col-12>
                <ion-list radio-group [(ngModel)]="relationship">
                    <ion-item>
                        <ion-label>English</ion-label>
                        <ion-radio value="en" (ionSelect)="checkLang($event)"></ion-radio>
                    </ion-item>
                    <ion-item>
                        <ion-label>Hindi (हिंदी)</ion-label>
                        <ion-radio value="hi" (ionSelect)="checkLang($event)"></ion-radio>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <!--<ion-row class="flexRow">
            <ion-col col-2 class="flexCol">
                <ion-radio value="lang"></ion-radio>-->
                <!--<input type="radio"  (change)="checkLang($event)" name="lang" value="hi">-->
                <!--<ion-radio name="lang" value="hindi"></ion-radio>-->
            <!--</ion-col>
            <ion-col col-10>
                <ion-label>Hindi (हिंदी)</ion-label>
            </ion-col>
        </ion-row>-->
        <ion-row class="flexRow SETbOOTM remoPadd">
            <ion-col col-12 class="remoPadd">
                <button [ngClass]="manualTextSize" (click)="navigateLoginPage()" class="setBtnWidth" ion-button color="danger">{{getStarted}}</button>
            </ion-col>
        </ion-row>
        <!--</form>-->
    </ion-grid>
</ion-content>