page-chooseLang {
    .grid {
        padding: 0px;
    }
    .setImgHeight {
        height: 200px;
        width: 100%;
        padding: 0px;
    }
    .langIcon {
        width: 100%;
        height: 100%;
    }
    .flexRow {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #333333;
        padding: 1% 0% 0% 0%;
    }
    .flexCol {
        display: flex;
        justify-content: center;
    }
    .setBtnWidth {
        width: 100%;
        height: 55px;
        background: #DB2687;
        border-color: #DB2687;
        margin: 0px;
    }
    .SETbOOTM {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .remoPadd {
        padding: 0;
    }
    .item-md {
        display: flex;
        flex-direction: row-reverse;
        padding-left: 16px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        box-shadow: none;
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        height: 75px;
        padding-top: 13px;
    }
    .item-cover {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        cursor: pointer;
        border-bottom: 1px solid #d5d5d5;
        padding-left: 20px; 
    }
    .setFontSize{
        font-size: 20px;
    }
}